:root{
    --blur-value: 2px;
}

body.modal-open > :not(.modal) {
    -webkit-filter: blur(var(--blur-value));
    -moz-filter: blur(var(--blur-value));
    -o-filter: blur(var(--blur-value));
    -ms-filter: blur(var(--blur-value));
    filter: blur(var(--blur-value));
}
.modal-content  {
    -webkit-border-radius: 10px !important;
    -moz-border-radius: 10px !important;
    border-radius: 10px !important; 
}
.modal-avatar-container{
    /* outline: 3px solid red; */
    min-width: 50px;
    max-width: 250px;
}
.modal-title{
    font-size: 18px;
}
.modal-subtitle-label, .modal-subtitle-data{
    font-size: 14px;
}
.modal-avatar{
    width: 100%;
    border-radius: 10px;
}
.modal-grid-container{
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: minmax(auto, 1fr) 65%;
    max-width: 900px;
    width: 100%;
}
.modal-close-button-div{
    float: 'right' !important;
}
@media only screen and (max-width: 600px) {
    .modal-grid-container{
        grid-auto-flow: row;
    }
}