$primary-color: hsl(270, 47%, 55%);
$secondary-color: hsl(184, 97%, 43%);
$dark-color: hsl(259, 30%, 21%);
$light-color: hsl(295, 6%, 65%);

$theme-colors: (
    "primary": $primary-color,
    "secondary": $secondary-color,
    "dark": $dark-color,
    "light": $light-color
);

@import '~bootstrap/scss/bootstrap.scss'