@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap');

body {
  margin: 0;
  font-family: 'Roboto', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root, body, html{
  background-color: hsl(60, 7%, 94%);
}

#root{
  padding-bottom: 30px;
}

.navigation{
  box-shadow: 0px 0px 5px hsl(0, 0%, 50%);
}

code {
  font-family: 'Roboto', source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.gitSearchSmLogo{
  border: 0px solid red;
  width: 5rem;
}

.gitSearchLgLogo{
  border: 0px solid red;
  width: 25rem;
}